examples/LoRaBAC.json
[
    {
        "id": "e94c5d10a1a43f44",
        "type": "subflow",
        "name": "Rest API Read downlink/ Write uplink (2)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 300,
                "y": 360,
                "wires": [
                    {
                        "id": "7094ab89d5a3749f"
                    },
                    {
                        "id": "20407077d31ebbc3"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1760,
                "y": 460,
                "wires": [
                    {
                        "id": "e44ba094823dc69f",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "dataDirection",
                "type": "str",
                "value": "uplink",
                "ui": {
                    "icon": "font-awesome/fa-location-arrow",
                    "label": {
                        "en-US": "Direction"
                    },
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "Uplink"
                                },
                                "v": "uplink"
                            },
                            {
                                "l": {
                                    "en-US": "Downlink"
                                },
                                "v": "downlink"
                            }
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 660,
            "y": 580,
            "wires": [
                {
                    "id": "37f39551bd834ea2",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "7ae2f7fa7e3bb9df",
        "type": "function",
        "z": "e94c5d10a1a43f44",
        "name": "BACnet Object Exist ?",
        "func": "let device = msg.device;\nconst debug = flow.get(\"$parent.g_debug\");\n\nswitch (msg.statusCode) {\n    //////////////////////////////////////////////////    \n    // Case 200 : \"Success\" > Stops here OR continue to read Downlink Objects. \n    // Case 200 : \"Object does not exist\" > Create Objects\n    //////////////////////////////////////////////////\n    case 200:\n        if (msg.payload.includes(\"Unknown Object\")) {\n            debug(device, \"creation\", `${device.identity.deviceName} : Some BACnet objects don't exist`);\n            return [{ device: device }, null];       // Create Downlink Objects\n        }\n        else {\n            switch (env.get(\"dataDirection\")) {\n                case \"uplink\":\n                    debug(device, \"up\", `${device.identity.deviceName} (RestAPI) : Write Uplink Objects`);\n\n                    const dataDirection = Object.values(device.bacnet.objects).map(obj => obj.dataDirection);\n\n                    if (dataDirection.some(direction => { return direction === \"downlink\" })) {\n                        return [null, { device: device }];    // Continue to read downlink Objects\n                    }\n                    else {\n                        debug(device, \"txTime\", `${device.identity.deviceName} (${device.controller.protocol}) : TX time = ${Date.now() - device.transmitTime} ms`);\n                        return [null, null];                 // Stops here\n                    }\n                    break;\n                case \"downlink\":\n                    debug(device, \"down\", `${device.identity.deviceName} (RestAPI) : Read Downlink Objects`);\n                    return [null, { device: device, payload: JSON.parse(msg.payload) }];\n                    break;\n                default:\n                    \n            }\n            \n        }\n\n    case 400:\n        node.error(\"Error : Bad HTTP Request\");\n        if (msg.payload.includes(\"write-access-denied\")) {\n            node.error(\"Error : Trying to write a Read Only object (analogInput)\");\n        }\n        return [null, null];\n\n    case 401:\n        node.error(\"Error : Can't connect to controller : Authorization error\");\n        return [null, null];\n\n    case 500:\n        node.error(\"Error : Server Error 500\");\n        return [null, null];\n\n    case 404:\n        node.error(\"Error : 404\");\n        return [null, null];\n\n    case \"ETIMEDOUT\":\n        node.error(\"Error : Can't connect to controller : TimeOut\");\n        return [null, null];\n\n    case \"UNABLE_TO_VERIFY_LEAF_SIGNATURE\":\n        node.error(\"Error : You forgot to enable the TLS config in your HTTP node\");\n        return [null, null];\n\n}\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 360,
        "wires": [
            [
                "2c569c3324472ce2",
                "458d8431a598dff6"
            ],
            [
                "b785f15895850b22"
            ]
        ],
        "icon": "node-red/switch.svg"
    },
    {
        "id": "3907f08dfa30e94f",
        "type": "http request",
        "z": "e94c5d10a1a43f44",
        "g": "77cf124ef490c27f",
        "name": "HTTP REQUEST",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "38c4db63982e52db",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 360,
        "wires": [
            [
                "7ae2f7fa7e3bb9df"
            ]
        ]
    },
    {
        "id": "7094ab89d5a3749f",
        "type": "function",
        "z": "e94c5d10a1a43f44",
        "g": "77cf124ef490c27f",
        "name": "READ/WRITE Objects",
        "func": "\nlet device = msg.device;\nlet dataDirection = env.get('dataDirection')\nlet bacnetObjects = device.bacnet.objects;\n\nif(device.controller.protocol != \"restAPIBacnet\") return null;\n\nswitch (device.controller.model) {\n\n  ///////////////////////////////////////////////////////////\n  ////// Distech Controls Eclypse APEX\n  ////// https://www.postman.com/distech/distech-ecy-v2-public/request/3qk28wy/write-property-multiple\n  ///////////////////////////////////////////////////////////\n  case \"distechControlsV2\":\n    /********* HTTP Request Write Properties\n    {\n        \"method\": \"POST\",\n        \"url\": \"https://@IP/api/rest/v2/services/bacnet/local/objects/write-property-multiple\",\n        \"headers\": {Authorization: httpAuthentication,\n                  ContentType: \"application/json\"},\n        \n        \"payload\": {\n            \"encode\": \"text\",\n            \"property-references\": [\n                {\n                  \"type\": \"analogValue\",\n                  \"instance\": y,\n                  \"property\": \"presentValue\",\n                  \"value\" : \"xx\"\n                },\n                {\n                  \"type\": \"analogValue\",\n                  \"instance\": y,\n                  \"property\": \"presentValue\",\n                  \"value\" : \"xx\"\n                },\n                ...\n            ]\n        },\n        \"requestTimeout\" : xxx (ms)\n    }\n    */\n\n    let property_references = [];\n    for (let object in bacnetObjects) {\n      if (bacnetObjects[object].dataDirection == dataDirection) {\n        let temp = {}\n        switch (dataDirection) {\n          case \"uplink\":\n            temp = '{ \"type\": \"' + bacnetObjects[object].objectType + '\", \"instance\": ' + bacnetObjects[object].instanceNum + ', \"property\": \"presentValue\", \"value\": ' + bacnetObjects[object].value + ' }';\n            property_references.push(JSON.parse(temp));\n            break;\n          case \"downlink\":\n            temp = '{ \"type\": \"' + bacnetObjects[object].objectType + '\", \"instance\": ' + bacnetObjects[object].instanceNum + ', \"property\": \"presentValue\"}';\n            property_references.push(JSON.parse(temp));\n            break;\n          default:\n            \n        }\n      }\n    }\n\n    // Return HTTP Request\n    switch (dataDirection) {\n      case \"uplink\":\n        return {\n          \"method\": \"POST\",\n          \"url\": \"https://\" + device.controller.ipAddress + \"/api/rest/v2/services/bacnet/local/objects/write-property-multiple\",\n          \"headers\": {\n            Authorization: device.controller.httpAuthentication,\n            ContentType: \"application/json\"\n          },\n          \"payload\": {\n            \"encode\": \"text\",\n            \"property-references\": property_references\n          },\n          \"requestTimeout\": flow.get('$parent.g_httpRequestTimeOut'),\n          \"device\": device\n        }\n        break;\n      case \"downlink\":\n        return {\n          \"method\": \"POST\",\n          \"url\": \"https://\" + device.controller.ipAddress + \"/api/rest/v2/services/bacnet/local/objects/read-property-multiple\",\n          \"headers\": {\n            Authorization: device.controller.httpAuthentication,\n            ContentType: \"application/json\"\n          },\n          \"payload\": {\n            \"encode\": \"text\",\n            \"property-references\": property_references\n          },\n          \"requestTimeout\": flow.get('$parent.g_httpRequestTimeOut'),\n          \"device\": device\n        }\n        break;\n      default:\n      return\n        break;\n    }\n    \n\n\n  ///////////////////////////////////////////////////////////\n  ////// XXXXX Controller\n  ////// URL to the API documentation\n  ///////////////////////////////////////////////////////////\n  case \"anotherController\":\n\n\n}\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 360,
        "wires": [
            [
                "3907f08dfa30e94f"
            ]
        ]
    },
    {
        "id": "2c569c3324472ce2",
        "type": "function",
        "z": "e94c5d10a1a43f44",
        "g": "f53ce5a4bb5d4fb5",
        "name": "CREATE Objects",
        "func": "\nlet device = msg.device;\nlet bacnetObjects = device.bacnet.objects;\n\nswitch (device.controller.model) {\n\n  ///////////////////////////////////////////////////////////\n  ////// Distech Controls Eclypse APEX\n  ////// https://www.postman.com/distech/distech-ecy-v2-public/request/57jbx8w/create-objects-multiple\n  ///////////////////////////////////////////////////////////\n  case \"distechControlsV2\":\n\n    /**********  Objects creation on the controller\n    {\n        \"method\": \"POST\",\n        \"url\": \"https://\" + flow.get('$parent.g_controllerIP') +\"/api/rest/v2/batch\",\n        \"headers\": {Authorization: flow.get('$parent.g_httpAuthentication'),\n                  ContentType: \"application/json\"}\n        \"payload\":{\n            \"requests\": [\n                {\n                  \"id\": \"1\",\n                  \"method\": \"POST\",\n                  \"url\": \"/api/rest/v2/services/bacnet/local/objects/add\",\n                  \"body\": {\n                    \"object-type\": \"AnalogValue\",\n                    \"instance-number\": 10010,\n                    \"name\": \"apiAVTest10\"\n                  }\n                },\n                {\n                  \"id\": \"2\",\n                  \"method\": \"POST\",\n                  \"url\": \"/api/rest/v2/services/bacnet/local/objects/add\",\n                  \"body\": {\n                    \"object-type\": \"BinaryValue\",\n                    \"instance-number\": 10010,\n                    \"name\": \"apiBVTest10\"\n                  }\n                },\n                ...\n            ]\n        },\n        \"requestTimeout\" : xxx (ms)\n    }\n    */\n\n\n    let requests = [], i = 1;\n\n    for (let object in bacnetObjects) {\n      let temp = '{ \"id\": \"' + (i++) + '\", \"method\": \"POST\", \"url\": \"/api/rest/v2/services/bacnet/local/objects/add\", \"body\": { \"object-type\": \"' + bacnetObjects[object].objectType + '\", \"instance-number\": ' + bacnetObjects[object].instanceNum + ', \"name\": \"' + bacnetObjects[object].objectName + '\" } }';\n      requests.push(JSON.parse(temp));\n    }\n\n    // Return HTTP Request\n    return {\n      \"method\": \"POST\",\n      \"url\": \"https://\" + device.controller.ipAddress + \"/api/rest/v2/batch\",\n      \"headers\": {\n        Authorization: device.controller.httpAuthentication,\n        ContentType: \"application/json\"\n      },\n      \"payload\": { \"requests\": requests },\n      \"requestTimeout\": flow.get('$parent.g_httpRequestTimeOut'),\n      \"device\": device\n    }\n\n  ///////////////////////////////////////////////////////////\n  ////// XXXXX Controller\n  ////// URL to the API documentation\n  ///////////////////////////////////////////////////////////\n  case \"anotherController\":\n\n  \n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 260,
        "wires": [
            [
                "77af571606f4bee7"
            ]
        ]
    },
    {
        "id": "77af571606f4bee7",
        "type": "http request",
        "z": "e94c5d10a1a43f44",
        "g": "f53ce5a4bb5d4fb5",
        "name": "HTTP REQUEST",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "38c4db63982e52db",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1550,
        "y": 260,
        "wires": [
            [
                "8a8e70cc8082408f",
                "56f3516478c1b569"
            ]
        ]
    },
    {
        "id": "8a8e70cc8082408f",
        "type": "function",
        "z": "e94c5d10a1a43f44",
        "g": "f53ce5a4bb5d4fb5",
        "name": "READ/WRITE Objects",
        "func": "\nlet device = msg.device;\nlet previousValues = flow.get(\"$parent.g_previousValues\");\nlet dataDirection = env.get('dataDirection')\nlet bacnetObjects = device.bacnet.objects;\n\nswitch (device.controller.model) {\n\n    ///////////////////////////////////////////////////////////\n    ////// Distech Controls Eclypse APEX\n    ////// https://www.postman.com/distech/distech-ecy-v2-public/request/3qk28wy/write-property-multiple\n    ///////////////////////////////////////////////////////////\n    case \"distechControlsV2\":\n        /********* HTTP Request Write Properties\n        {\n            \"method\": \"POST\",\n            \"url\": \"https://@IP/api/rest/v2/services/bacnet/local/objects/write-property-multiple\",\n            \"headers\": {Authorization: httpAuthentication,\n                      ContentType: \"application/json\"},\n            \n            \"payload\": {\n                \"encode\": \"text\",\n                \"property-references\": [\n                    {\n                      \"type\": \"analogValue\",\n                      \"instance\": y,\n                      \"property\": \"presentValue\",\n                      \"value\" : \"xx\"\n                    },\n                    {\n                      \"type\": \"analogValue\",\n                      \"instance\": y,\n                      \"property\": \"presentValue\",\n                      \"value\" : \"xx\"\n                    },\n                    ...\n                ]\n            },\n            \"requestTimeout\" : xxx (ms)\n        }\n        */\n\n        let property_references = [];\n        for (let object in bacnetObjects) {\n            let temp = {}\n            switch (bacnetObjects[object].dataDirection) {\n                case \"uplink\":\n                    temp = '{ \"type\": \"' + bacnetObjects[object].objectType + '\", \"instance\": ' + bacnetObjects[object].instanceNum + ', \"property\": \"presentValue\", \"value\": ' + bacnetObjects[object].value + ' }';\n                    property_references.push(JSON.parse(temp));\n                    break;\n                case \"downlink\":\n                //  if it exist take the previous value of the downlink BACnet object\n                    if (previousValues.hasOwnProperty(device.identity.deviceName)){\n                        temp = '{ \"type\": \"' + bacnetObjects[object].objectType + '\", \"instance\": ' + bacnetObjects[object].instanceNum + ', \"property\": \"presentValue\", \"value\": ' + previousValues[device.identity.deviceName].bacnet.objects[object].value + ' }';\n                    property_references.push(JSON.parse(temp));\n                    }else{\n                    temp = '{ \"type\": \"' + bacnetObjects[object].objectType + '\", \"instance\": ' + bacnetObjects[object].instanceNum + ', \"property\": \"presentValue\", \"value\": ' + bacnetObjects[object].value + ' }';\n                    property_references.push(JSON.parse(temp));\n                    }\n\n                    break;\n                default:\n            }\n        \n        }\n\n    // Return HTTP Request\n    return {\n        \"method\": \"POST\",\n        \"url\": \"https://\" + device.controller.ipAddress + \"/api/rest/v2/services/bacnet/local/objects/write-property-multiple\",\n        \"headers\": {\n            Authorization: device.controller.httpAuthentication,\n            ContentType: \"application/json\"\n        },\n        \"payload\": {\n            \"encode\": \"text\",\n            \"property-references\": property_references\n        },\n        \"requestTimeout\": global.get('g_httpRequestTimeOut'),\n        \"device\": device\n    }\n\n    ///////////////////////////////////////////////////////////\n    ////// XXXXX Controller\n    ////// URL to the API documentation\n    ///////////////////////////////////////////////////////////\n    case \"anotherController\":\n\n\n}\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 320,
        "wires": [
            [
                "384f836ac4e45811"
            ]
        ]
    },
    {
        "id": "384f836ac4e45811",
        "type": "http request",
        "z": "e94c5d10a1a43f44",
        "g": "f53ce5a4bb5d4fb5",
        "name": "HTTP REQUEST",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "38c4db63982e52db",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1550,
        "y": 320,
        "wires": [
            [
                "594501f59b40d47a",
                "e44ba094823dc69f"
            ]
        ]
    },
    {
        "id": "56f3516478c1b569",
        "type": "function",
        "z": "e94c5d10a1a43f44",
        "g": "f53ce5a4bb5d4fb5",
        "name": "Creation results",
        "func": "let device = msg.device;\nconst debug = flow.get('$parent.g_debug');\n\nswitch (msg.statusCode) {\n    //////////////////////////////////////////////////    \n    // Case 200 : \"Success\" > Objects have been created\n    //////////////////////////////////////////////////\n    case 200:\n        if (msg.payload.includes(\"\\\"status\\\":200\")) {\n            debug(device, \"creation\", `${device.identity.deviceName} (RestAPI) : Some BACnet objects have been created`);\n        }\n        if (msg.payload.includes(\"Instance already exists\") || msg.payload.includes(\"Object with same name already exists\")) {\n            flow.set('g_errorObjectCreation', flow.get('g_errorObjectCreation') + 1);\n            node.error(`${device.identity.deviceName} : Some BACnet objects already existed`);\n        }\n        break;\n\n    case 400:\n        node.error(\"Error : Bad HTTP Request\");\n        break;\n\n    case 401:\n        node.error(\"Error : Can't connect to controller : Authorization error\");\n        break;\n\n    case 500:\n        node.error(\"Error : Server Error 500\");\n        break;\n\n    case 404:\n        node.error(\"Error : 404\");\n        break;\n\n\n    case \"ETIMEDOUT\":\n        node.error(\"Error : Can't connect to controller : TimeOut\");\n        break;\n\n    case \"UNABLE_TO_VERIFY_LEAF_SIGNATURE\":\n        node.error(\"Error : You forgot to enable the TLS config in your HTTP node\");\n        break;\n\n}\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Le code ajouté ici sera exécuté une fois\n// à chaque démarrage du noeud.\nglobal.set('g_errorObjectCreation', 0);",
        "finalize": "",
        "libs": [],
        "x": 1780,
        "y": 260,
        "wires": [
            []
        ],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "594501f59b40d47a",
        "type": "function",
        "z": "e94c5d10a1a43f44",
        "g": "f53ce5a4bb5d4fb5",
        "name": "Debug Write",
        "func": "let device = msg.device;\nconst debug = flow.get('$parent.g_debug');\n\ndebug(device, \"txTime\", `${device.identity.deviceName} (${device.controller.protocol}) : TX time = ${Date.now() - device.transmitTime} ms`); \n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1770,
        "y": 320,
        "wires": [
            [
                "bb1b269274839f19"
            ]
        ]
    },
    {
        "id": "248669a93258fe3b",
        "type": "change",
        "z": "e94c5d10a1a43f44",
        "name": "Read/Write in process",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.text",
                "pt": "msg",
                "to": "$env('dataDirection') & \" Read/Write in process...\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.fill",
                "pt": "msg",
                "to": "yellow",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.shape",
                "pt": "msg",
                "to": "ring",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 600,
        "wires": [
            [
                "37f39551bd834ea2"
            ]
        ]
    },
    {
        "id": "5cc6c50d865daee5",
        "type": "change",
        "z": "e94c5d10a1a43f44",
        "name": "Read/Write complete",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.text",
                "pt": "msg",
                "to": "$env('dataDirection') & \" Read/Write complete\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.fill",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.shape",
                "pt": "msg",
                "to": "dot",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 560,
        "wires": [
            [
                "37f39551bd834ea2"
            ]
        ]
    },
    {
        "id": "9bb7d43dccd224d4",
        "type": "change",
        "z": "e94c5d10a1a43f44",
        "name": "Object creation complete",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.text",
                "pt": "msg",
                "to": "$env('dataDirection') & \" Object creation complete\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.fill",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.shape",
                "pt": "msg",
                "to": "dot",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 640,
        "wires": [
            [
                "37f39551bd834ea2"
            ]
        ]
    },
    {
        "id": "eca09f80d3608a63",
        "type": "change",
        "z": "e94c5d10a1a43f44",
        "name": "Object creation in process",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.text",
                "pt": "msg",
                "to": "$env('dataDirection') & \" Object creation in process...\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.fill",
                "pt": "msg",
                "to": "yellow",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.shape",
                "pt": "msg",
                "to": "ring",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 520,
        "wires": [
            [
                "37f39551bd834ea2"
            ]
        ]
    },
    {
        "id": "bb1b269274839f19",
        "type": "link out",
        "z": "e94c5d10a1a43f44",
        "g": "f53ce5a4bb5d4fb5",
        "name": "link out Object creation complete",
        "mode": "link",
        "links": [
            "6ac47768a5b0bd3a"
        ],
        "x": 1875,
        "y": 320,
        "wires": []
    },
    {
        "id": "6ac47768a5b0bd3a",
        "type": "link in",
        "z": "e94c5d10a1a43f44",
        "name": "link in Object creation complete",
        "links": [
            "bb1b269274839f19"
        ],
        "x": 295,
        "y": 640,
        "wires": [
            [
                "9bb7d43dccd224d4"
            ]
        ]
    },
    {
        "id": "d625061ef57dbcd5",
        "type": "link in",
        "z": "e94c5d10a1a43f44",
        "name": "link in Read/Write in progress",
        "links": [
            "20407077d31ebbc3"
        ],
        "x": 295,
        "y": 600,
        "wires": [
            [
                "248669a93258fe3b"
            ]
        ]
    },
    {
        "id": "f40634e7cf9bb2d1",
        "type": "link in",
        "z": "e94c5d10a1a43f44",
        "name": "link in Read/Write complete",
        "links": [
            "57e69da0e9c2c39d"
        ],
        "x": 295,
        "y": 560,
        "wires": [
            [
                "5cc6c50d865daee5"
            ]
        ]
    },
    {
        "id": "a8538b849f498360",
        "type": "link in",
        "z": "e94c5d10a1a43f44",
        "name": "link in object creation",
        "links": [
            "458d8431a598dff6"
        ],
        "x": 295,
        "y": 520,
        "wires": [
            [
                "eca09f80d3608a63"
            ]
        ]
    },
    {
        "id": "458d8431a598dff6",
        "type": "link out",
        "z": "e94c5d10a1a43f44",
        "name": "link out object creation",
        "mode": "link",
        "links": [
            "a8538b849f498360"
        ],
        "x": 1015,
        "y": 260,
        "wires": []
    },
    {
        "id": "20407077d31ebbc3",
        "type": "link out",
        "z": "e94c5d10a1a43f44",
        "name": "link out Read/Write in progress",
        "mode": "link",
        "links": [
            "d625061ef57dbcd5"
        ],
        "x": 335,
        "y": 400,
        "wires": []
    },
    {
        "id": "7cd746220053ce8c",
        "type": "function",
        "z": "e94c5d10a1a43f44",
        "name": "Store Downlink object",
        "func": "/////////////////////////////////////////////////////////////////////\n/////////////////  Store Downlink Objects              //////////////\n/////////////////////////////////////////////////////////////////////\n/* This function stores the downlink data from the controller */\n\nlet device = msg.device;\nlet bacnetObjects = device.bacnet.objects;\n\n// For InfluxDB support\ndevice.influxdb.source = \"downlink\";\n\nswitch (device.controller.model) {\n    case \"distechControlsV2\":\n        let donwlinkObjects = msg.payload;\n\n        for (let i = 0; i < donwlinkObjects.results.length; i++) {\n            Object.values(bacnetObjects).forEach(obj => {\n                if (donwlinkObjects.results[i].type == obj.objectType && donwlinkObjects.results[i].instance == obj.instanceNum) {\n                    if (obj.objectType == \"analogValue\") obj.value = Number(donwlinkObjects.results[i].value);\n                    if (obj.objectType == \"binaryValue\") obj.value = donwlinkObjects.results[i].value;\n                }\n            });\n        }\n\n        return {\n            device: device\n        };\n\n\n\n    ///////////////////////////////////////////////////////////\n    ////// XXXXX Controller\n    ////// URL to the API documentation\n    ///////////////////////////////////////////////////////////\n    case \"anotherController\":\n\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 440,
        "wires": [
            [
                "687ae52fde4602e3"
            ]
        ]
    },
    {
        "id": "57e69da0e9c2c39d",
        "type": "link out",
        "z": "e94c5d10a1a43f44",
        "name": "link out Read/Write complete",
        "mode": "link",
        "links": [
            "f40634e7cf9bb2d1"
        ],
        "x": 1755,
        "y": 520,
        "wires": []
    },
    {
        "id": "b785f15895850b22",
        "type": "switch",
        "z": "e94c5d10a1a43f44",
        "name": "",
        "property": "dataDirection",
        "propertyType": "env",
        "rules": [
            {
                "t": "eq",
                "v": "downlink",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "uplink",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1175,
        "y": 460,
        "wires": [
            [
                "7cd746220053ce8c"
            ],
            [
                "687ae52fde4602e3"
            ]
        ],
        "outputLabels": [
            "downlink",
            "uplink"
        ],
        "l": false
    },
    {
        "id": "37f39551bd834ea2",
        "type": "junction",
        "z": "e94c5d10a1a43f44",
        "x": 600,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "687ae52fde4602e3",
        "type": "junction",
        "z": "e94c5d10a1a43f44",
        "x": 1680,
        "y": 480,
        "wires": [
            [
                "57e69da0e9c2c39d",
                "e44ba094823dc69f"
            ]
        ]
    },
    {
        "id": "e44ba094823dc69f",
        "type": "junction",
        "z": "e94c5d10a1a43f44",
        "x": 1720,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "77cf124ef490c27f",
        "type": "group",
        "z": "e94c5d10a1a43f44",
        "name": "Read/Write BACnet Objects",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "3907f08dfa30e94f",
            "7094ab89d5a3749f"
        ],
        "x": 394,
        "y": 319,
        "w": 492,
        "h": 82
    },
    {
        "id": "f53ce5a4bb5d4fb5",
        "type": "group",
        "z": "e94c5d10a1a43f44",
        "name": "Create missing BACnet Objects",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "2c569c3324472ce2",
            "77af571606f4bee7",
            "8a8e70cc8082408f",
            "384f836ac4e45811",
            "56f3516478c1b569",
            "594501f59b40d47a",
            "bb1b269274839f19"
        ],
        "x": 1154,
        "y": 219,
        "w": 762,
        "h": 142
    },
    {
        "id": "38c4db63982e52db",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "d93fd1516340f4b8",
        "type": "tab",
        "label": "LoRaBAC",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b945647942a25106",
        "type": "group",
        "z": "d93fd1516340f4b8",
        "name": "MQTT (to Configure)",
        "style": {
            "stroke": "#6f2fa0",
            "fill": "#dbcbe7",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "6953b23b2fd1a57f",
            "862555172a81d0a4",
            "f8a5f441de842782",
            "58ce7a9ee14e78bf",
            "2163ab87f224cce8"
        ],
        "x": 24,
        "y": 139,
        "w": 502,
        "h": 142
    },
    {
        "id": "6983e6814d824ffd",
        "type": "group",
        "z": "d93fd1516340f4b8",
        "name": "Uplink",
        "style": {
            "label": true,
            "color": "#000000",
            "fill": "#e3f3d3"
        },
        "nodes": [
            "e6635bfa6c28f7a3",
            "393624248bdf6eb1",
            "174d4dec295d31de"
        ],
        "x": 740,
        "y": 79,
        "w": 352,
        "h": 222
    },
    {
        "id": "663469021e59323e",
        "type": "group",
        "z": "d93fd1516340f4b8",
        "name": "Downlink",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "dd3395b97b62e3ee",
            "6bd0a0f873a2303d",
            "38b66f2816c687de",
            "843630712654cc59",
            "6b47fc31e72098f2",
            "6d8918d40586b5c5",
            "cd910e44159f4f03",
            "c9ac0bf945b2fa3b",
            "6c5d95aedce3b9a5",
            "18f4723e9398881a",
            "18414ddfb55e3521"
        ],
        "x": 1114,
        "y": 79,
        "w": 932,
        "h": 222
    },
    {
        "id": "5ccccbf592923070",
        "type": "group",
        "z": "d93fd1516340f4b8",
        "name": "polling of class C devices's downlink bacnet objects",
        "style": {
            "stroke": "#ffC000",
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "7d373895caf280eb",
            "065fbab4302f36be",
            "89efec6c18e8f42a",
            "b1a6c2451ff2e2a9",
            "2758c858a2ed5451",
            "194c25fca9ead806",
            "bc96164572da1cbc",
            "cc5bdb1677b5c74b",
            "85238cc0628ebe3c",
            "767ed3a36d3759d5",
            "2e0098297782aecf"
        ],
        "x": 24,
        "y": 619,
        "w": 1382,
        "h": 182
    },
    {
        "id": "ea1addd1c6fe7797",
        "type": "group",
        "z": "d93fd1516340f4b8",
        "name": "MQTT send downlink",
        "style": {
            "stroke": "#6f2fa0",
            "fill": "#dbcbe7",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "16d52f06f6dee94e",
            "994fa4e132a7f749",
            "c34a9f563828e915",
            "11767943bce3f6e9",
            "7d6fa0e6c07b0c3e",
            "b3327bd6426be00f",
            "e1384418b4e5f5e8"
        ],
        "x": 24,
        "y": 399,
        "w": 722,
        "h": 142
    },
    {
        "id": "4298ce30cd9ef04a",
        "type": "group",
        "z": "d93fd1516340f4b8",
        "name": "Error handling",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "04532f1d0e6c9baa",
            "65f2e081b17e66c7",
            "19ca20846eb2b5fc",
            "55608d9a28b0edcd",
            "f289e0a64f6518f9",
            "1e24ea01df25cdcd",
            "bf4ec5cebccef09e",
            "4dd8577f414c8efe",
            "9bf006cec1fcb884",
            "9e7cc7ca6d39c823",
            "330d9ca5748cab45",
            "6a6aa62f1b1beb02",
            "0b01cbfdacfb6dbd",
            "30b96c28f6b24733",
            "f113a92a4c820b68",
            "addb8372fe1157dc",
            "1092a6b81312c06d",
            "24d628589b366aeb",
            "cd83711f22164892",
            "79c7dbd40846c144",
            "819bdc8057630315",
            "16438fab45e013b9",
            "74b093ac12aa2bed",
            "0cf4b5d52eb7b83b",
            "2808379eb506d556",
            "c2d0d9211069b5f8"
        ],
        "x": 24,
        "y": 839,
        "w": 1162,
        "h": 482
    },
    {
        "id": "843630712654cc59",
        "type": "junction",
        "z": "d93fd1516340f4b8",
        "g": "663469021e59323e",
        "x": 1520,
        "y": 180,
        "wires": [
            [
                "dd3395b97b62e3ee",
                "18414ddfb55e3521"
            ]
        ]
    },
    {
        "id": "b1e5f763f720d5d4",
        "type": "junction",
        "z": "d93fd1516340f4b8",
        "x": 720,
        "y": 190,
        "wires": [
            [
                "8bfe956ba4197c50",
                "393624248bdf6eb1",
                "e6635bfa6c28f7a3",
                "174d4dec295d31de"
            ]
        ]
    },
    {
        "id": "6b47fc31e72098f2",
        "type": "junction",
        "z": "d93fd1516340f4b8",
        "g": "663469021e59323e",
        "x": 1780,
        "y": 180,
        "wires": [
            [
                "6bd0a0f873a2303d",
                "c9ac0bf945b2fa3b"
            ]
        ]
    },
    {
        "id": "6d8918d40586b5c5",
        "type": "junction",
        "z": "d93fd1516340f4b8",
        "g": "663469021e59323e",
        "x": 1420,
        "y": 260,
        "wires": [
            [
                "843630712654cc59",
                "38b66f2816c687de"
            ]
        ]
    },
    {
        "id": "cd910e44159f4f03",
        "type": "junction",
        "z": "d93fd1516340f4b8",
        "g": "663469021e59323e",
        "x": 1480,
        "y": 120,
        "wires": [
            [
                "843630712654cc59",
                "38b66f2816c687de"
            ]
        ]
    },
    {
        "id": "b3327bd6426be00f",
        "type": "junction",
        "z": "d93fd1516340f4b8",
        "g": "ea1addd1c6fe7797",
        "x": 100,
        "y": 480,
        "wires": [
            [
                "7d6fa0e6c07b0c3e",
                "994fa4e132a7f749"
            ]
        ]
    },
    {
        "id": "cc5bdb1677b5c74b",
        "type": "junction",
        "z": "d93fd1516340f4b8",
        "g": "5ccccbf592923070",
        "x": 920,
        "y": 700,
        "wires": [
            [
                "89efec6c18e8f42a"
            ]
        ]
    },
    {
        "id": "16438fab45e013b9",
        "type": "junction",
        "z": "d93fd1516340f4b8",
        "g": "4298ce30cd9ef04a",
        "x": 640,
        "y": 960,
        "wires": [
            [
                "cd83711f22164892"
            ]
        ]
    },
    {
        "id": "2e0098297782aecf",
        "type": "junction",
        "z": "d93fd1516340f4b8",
        "g": "5ccccbf592923070",
        "x": 388.57142857142856,
        "y": 700,
        "wires": [
            [
                "2758c858a2ed5451"
            ]
        ]
    },
    {
        "id": "58ce7a9ee14e78bf",
        "type": "junction",
        "z": "d93fd1516340f4b8",
        "g": "b945647942a25106",
        "x": 260,
        "y": 200,
        "wires": [
            [
                "862555172a81d0a4",
                "2163ab87f224cce8"
            ]
        ]
    },
    {
        "id": "e1384418b4e5f5e8",
        "type": "junction",
        "z": "d93fd1516340f4b8",
        "g": "ea1addd1c6fe7797",
        "x": 430,
        "y": 500,
        "wires": [
            [
                "16d52f06f6dee94e",
                "11767943bce3f6e9"
            ]
        ]
    },
    {
        "id": "8bfe956ba4197c50",
        "type": "debug",
        "z": "d93fd1516340f4b8",
        "name": "Debug \"device\" object",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 60,
        "wires": []
    },
    {
        "id": "6953b23b2fd1a57f",
        "type": "mqtt in",
        "z": "d93fd1516340f4b8",
        "g": "b945647942a25106",
        "name": "MQTT Subscriber",
        "topic": "application/+/device/+/event/up",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f75024a426208b8a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "58ce7a9ee14e78bf"
            ]
        ],
        "info": "\r\n# MQTT Subscriber node\r\n\r\n - How to configure this node\r\n    -\r\n    The configuration off this node depend of which LNS or MQTT broker you use.\r\n\r\n    - For The Things Network\r\n        - \r\n        With **TTN LNS** you have to use the following topic :\r\n            ***`v3/{application_id}@ttn/devices/+/up`*** \\\r\n        Replace `{application_id}` by your application id in TTN.\\\r\n         And don't forget the `@ttn`\r\n    - For The Things Stack\r\n        - \r\n        With **TTS LNS** you have to use the following topic :\r\n            ***`v3/{application_id}/devices/+/up`*** \\\r\n        Replace `{application_id}` by your application id in TTS.\r\n\r\n    - For Chirpstack\r\n        - \r\n        With **Chirpstack LNS** you have to use the following topic :\r\n            ***`application/{application_id}/device/+/event/up`*** \\\r\n        Replace `{application_id}` by your application id (it's the number, not the name !).\r\n    - For Actility\r\n        - \r\n        if you use **Actility LNS** see the [documentation](https://docs.thingpark.com/thingpark-x/latest/Connector/BROKER_MQTT/) for using actillity broker\r\n\r\n        - For actility-USMB Broker : ***`univ-smb/devices/+/uplink`***\r\n        - For HiveMQ Broker : ***`mqtt/things/+/uplink`***\r\n        \r\n    - For other LNS or MQTT broker\r\n        - \r\n        If you use any other LNS or MQTT broker please refer to their documentation to configure this MQTT node."
    },
    {
        "id": "11767943bce3f6e9",
        "type": "mqtt out",
        "z": "d93fd1516340f4b8",
        "g": "ea1addd1c6fe7797",
        "name": "MQTT Publisher",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f75024a426208b8a",
        "x": 560,
        "y": 500,
        "wires": []
    },
    {
        "id": "e6635bfa6c28f7a3",
        "type": "subflow:e94c5d10a1a43f44",
        "z": "d93fd1516340f4b8",
        "g": "6983e6814d824ffd",
        "name": "Rest API Read downlink/Write uplink",
        "x": 916,
        "y": 120,
        "wires": [
            [
                "18f4723e9398881a"
            ]
        ]
    },
    {
        "id": "393624248bdf6eb1",
        "type": "link out",
        "z": "d93fd1516340f4b8",
        "g": "6983e6814d824ffd",
        "name": "Write InfluxDB for uplink",
        "mode": "link",
        "links": [],
        "x": 781,
        "y": 190,
        "wires": []
    },
    {
        "id": "dd3395b97b62e3ee",
        "type": "function",
        "z": "d93fd1516340f4b8",
        "g": "663469021e59323e",
        "name": "Downlink Strategies",
        "func": "///////////////////////////////////////////////////////////\n////// This part is device dependant\n////// The configuration depends on the downlink strategy\n///////////////////////////////////////////////////////////\n\nlet device = msg.device;\nif (device.lorawan.hasOwnProperty(\"defaultValuesForDownlink\")){\n    var staticDownlinkObjects = device.lorawan.defaultValuesForDownlink\n}\nlet bacnetObjects = device.bacnet.objects;\nconst debug = flow.get(\"g_debug\");\nlet downlinkLowPriorityObject = 0;\nlet previousValues = RED.util.cloneMessage(flow.get(\"g_previousValues\"));\nlet previousBacnetObject = previousValues[device.identity.deviceName].bacnet.objects;\nlet payload={};\n\nfunction downlinkPayloadCreation(downlinkObjectToSend) {\n    //Creation of the downlink payload\n    for (let obj in bacnetObjects){\n        if (bacnetObjects[obj].dataDirection === \"downlink\" && bacnetObjects[obj].downlinkPort == bacnetObjects[downlinkObjectToSend].downlinkPort){\n            let temp = \"{ \\\"\" + obj + \"\\\" : \" + JSON.stringify(bacnetObjects[obj].value) + \" }\";                        \n            payload = { ...payload, ...JSON.parse(temp) }\n        }\n    }\n    // Chek if there are other values to add to the payload\n    if (device.lorawan.hasOwnProperty(\"defaultValuesForDownlink\") ){\n        if (device.lorawan.defaultValuesForDownlink.hasOwnProperty(\"fPort_\" + bacnetObjects[downlinkObjectToSend].downlinkPort)){\n            for (let obj in staticDownlinkObjects[\"fPort_\"+ bacnetObjects[downlinkObjectToSend].downlinkPort]){\n                    let temp = \"{ \\\"\" + obj + \"\\\" : \" + JSON.stringify(staticDownlinkObjects[\"fPort_\"+ bacnetObjects[downlinkObjectToSend].downlinkPort][obj]) + \" }\";                        \n                    payload = { ...payload, ...JSON.parse(temp) }\n    \n            }\n        }\n    }\n    msg ={\n        \"payload\" : payload,\n        \"device\" :device\n    }\n    msg.device.lorawan.downlinkPort = bacnetObjects[downlinkObjectToSend].downlinkPort\n                        \n}\n\nfor (let object in bacnetObjects) {\n\n    if (bacnetObjects[object].dataDirection === \"downlink\") {\n        \n        switch (bacnetObjects[object].downlinkPortPriority) {\n            case \"high\":\n                switch (bacnetObjects[object].downlinkStrategie) {\n                    case \"onChangeOfThisValue\":\n                        if (bacnetObjects[object].value != previousBacnetObject[object].value) {\n                            node.status({ fill: \"yellow\", shape: \"dot\", text: \"Downlink high priority COV\" });\n                            debug(device, \"down\", `${device.identity.deviceName} (${device.controller.protocol}) : Downlink scheduled : Previous value ${previousBacnetObject[object].value}  != ${object} ${bacnetObjects[object].value}`);\n                            //Creation of the downlink payload\n                            downlinkPayloadCreation(object)\n                            return msg\n                        }\n                        break;\n                    case \"onChangeOfThisValueWithinRange\":\n                        if (bacnetObjects[object].value != previousBacnetObject[object].value && bacnetObjects[object].value <= bacnetObjects[object].range[1] && bacnetObjects[object].value >= bacnetObjects[object].range[0]) {\n                            node.status({ fill: \"yellow\", shape: \"dot\", text: \"Downlink high priority COVWR\" });\n                            debug(device, \"down\", `${device.identity.deviceName} (${device.controller.protocol}) : Downlink scheduled : Previous value ${previousBacnetObject[object].value}  != ${object} ${bacnetObjects[object].value}`);\n                            //Creation of the downlink payload\n                            downlinkPayloadCreation(object)\n                            return msg\n                        }\n                        break;\n                    case \"compareToUplinkObjectWithinRange\":\n                        if (bacnetObjects[object].value != bacnetObjects[bacnetObjects[object].uplinkObjectToCompareWith].value && bacnetObjects[object].value <= bacnetObjects[object].range[1] && bacnetObjects[object].value >= bacnetObjects[object].range[0]) {\n                            node.status({ fill: \"yellow\", shape: \"dot\", text: \"Downlink high priority CUVWR\" });\n                            debug(device, \"down\", `${device.identity.deviceName} (${device.controller.protocol}) : Downlink scheduled : ${bacnetObjects[object].uplinkObjectToCompareWith} ${bacnetObjects[bacnetObjects[object].uplinkObjectToCompareWith].value}  != ${object} ${bacnetObjects[object].value}`);\n                            //Creation of the downlink payload\n                            downlinkPayloadCreation(object)\n                            return msg\n                        }\n                        break;\n                    case \"compareToUplinkObject\":\n                        if (bacnetObjects[object].value != bacnetObjects[bacnetObjects[object].uplinkObjectToCompareWith].value) {\n                            node.status({ fill: \"yellow\", shape: \"dot\", text: \"Downlink high priority CUV\" });\n                            debug(device, \"down\", `${device.identity.deviceName} (${device.controller.protocol}) : Downlink scheduled : ${bacnetObjects[object].uplinkObjectToCompareWith} ${bacnetObjects[bacnetObjects[object].uplinkObjectToCompareWith].value}  != ${object} ${bacnetObjects[object].value}`);\n                            //Creation of the downlink payload\n                            downlinkPayloadCreation(object)\n                            return msg\n                        }\n                        break;\n                    default:\n                        \n                }\n                \n                break;\n            case \"low\":\n                //In case of low priority downlink the object name is kept till the end of the for loop \n                // to be sur that there is not any high priority downlink to send \n                switch (bacnetObjects[object].downlinkStrategie) {\n                    case \"onChangeOfThisValue\":\n                        if (bacnetObjects[object].value != previousBacnetObject[object].value) {\n                            downlinkLowPriorityObject = object;\n                        }\n                        break;\n                    case \"onChangeOfThisValueWithinRange\":\n                        if (bacnetObjects[object].value != previousBacnetObject[object].value && bacnetObjects[object].value <= bacnetObjects[object].range[1] && bacnetObjects[object].value >= bacnetObjects[object].range[0]) {\n                            downlinkLowPriorityObject = object;\n                        }\n                        break;\n                    case \"compareToUplinkObjectWithinRange\":\n                        if (bacnetObjects[object].value != bacnetObjects[bacnetObjects[object].uplinkObjectToCompareWith].value && bacnetObjects[object].value <= bacnetObjects[object].range[1] && bacnetObjects[object].value >= bacnetObjects[object].range[0]) {\n                            downlinkLowPriorityObject = object;\n                        }\n                        break;\n                    case \"compareToUplinkObject\":\n                        if (bacnetObjects[object].value != bacnetObjects[bacnetObjects[object].uplinkObjectToCompareWith].value) {\n                            downlinkLowPriorityObject = object;\n                        }\n                        break;\n                    default:\n                        \n                }\n                break;\n            default:\n\n        }\n    }\n}\nif (downlinkLowPriorityObject != 0) {\n    node.status({ fill: \"yellow\", shape: \"dot\", text: \"Downlink low priority\" });\n    switch (bacnetObjects[downlinkLowPriorityObject].downlinkStrategie) {\n        case \"onChangeOfThisValue\":\n            debug(device, \"down\", `${device.identity.deviceName} (${device.controller.protocol}) : Downlink scheduled : Previous value ${previousBacnetObject[downlinkLowPriorityObject].value}  != ${downlinkLowPriorityObject} ${bacnetObjects[downlinkLowPriorityObject].value}`);\n            break;\n        case \"onChangeOfThisValueWithinRange\":\n            debug(device, \"down\", `${device.identity.deviceName} (${device.controller.protocol}) : Downlink scheduled : Previous value ${previousBacnetObject[downlinkLowPriorityObject].value}  != ${downlinkLowPriorityObject} ${bacnetObjects[downlinkLowPriorityObject].value}`);\n            break;\n        case \"compareToUplinkObjectWithinRange\":\n            debug(device, \"down\", `${device.identity.deviceName} (${device.controller.protocol}) : Downlink scheduled : ${bacnetObjects[downlinkLowPriorityObject].uplinkObjectToCompareWith} ${bacnetObjects[bacnetObjects[downlinkLowPriorityObject].uplinkObjectToCompareWith].value}  != ${downlinkLowPriorityObject} ${bacnetObjects[downlinkLowPriorityObject].value}`);\n            break;\n        case \"compareToUplinkObject\":\n            debug(device, \"down\", `${device.identity.deviceName} (${device.controller.protocol}) : Downlink scheduled : ${bacnetObjects[downlinkLowPriorityObject].uplinkObjectToCompareWith} ${bacnetObjects[bacnetObjects[downlinkLowPriorityObject].uplinkObjectToCompareWith].value}  != ${downlinkLowPriorityObject} ${bacnetObjects[downlinkLowPriorityObject].value}`);\n            break;\n        default:\n                        \n    }\n    //Creation of the dowlink payload\n    downlinkPayloadCreation(downlinkLowPriorityObject)\n    return msg            \n}else{\n\n    node.status({fill: \"green\", shape: \"dot\" ,text: \"No downlink\"});\n    return null;\n}\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 180,
        "wires": [
            [
                "6b47fc31e72098f2"
            ]
        ],
        "icon": "node-red/cog.svg"
    },
    {
        "id": "6bd0a0f873a2303d",
        "type": "debug",
        "z": "d93fd1516340f4b8",
        "g": "663469021e59323e",
        "name": "Debug strategie",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 240,
        "wires": []
    },
    {
        "id": "16d52f06f6dee94e",
        "type": "debug",
        "z": "d93fd1516340f4b8",
        "g": "ea1addd1c6fe7797",
        "name": "Debug Downlink message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 440,
        "wires": []
    },
    {
        "id": "38b66f2816c687de",
        "type": "link out",
        "z": "d93fd1516340f4b8",
        "g": "663469021e59323e",
        "name": "Write InfluxDB for downlink",
        "mode": "link",
        "links": [],
        "x": 1365,
        "y": 190,
        "wires": []
    },
    {
        "id": "994fa4e132a7f749",
        "type": "function",
        "z": "d93fd1516340f4b8",
        "g": "ea1addd1c6fe7797",
        "name": "Create Downlink Message",
        "func": "\nlet device = msg.device;\nlet downlinkJson = {};\nconst debug = flow.get('g_debug');\n\n// Modify the downlink object according to the lorawanPayloadName.\n\nfor (let object in msg.payload) {\n    // Don't do any changes if lorawanPayloadName is the same as the BACnet Object name.\n    if (!Object.keys(device.bacnet.objects).some(element => element == device.bacnet.objects[object].lorawanPayloadName)) {\n        msg.payload[device.bacnet.objects[object].lorawanPayloadName] = msg.payload[object];\n        delete msg.payload[object];\n    }\n}\n\n\n//////////////////////////////////////////////////////////////////////////\n// The Things Stack Network Server \n/////////////////////////////////////////////////////////////////////////\nif (device.lorawan.networkServer == \"tts\") {\n    downlinkJson = {\n        \"topic\": device.mqtt.topicDownlink + (device.lorawan.flushDownlinkQueue ? \"/replace\" : \"/push\"),\n        \"payload\": {\n            \"downlinks\": [\n                {\n                    \"f_port\": device.lorawan.downlinkPort,\n                    \"decoded_payload\": msg.payload,\n                    \"priority\": \"NORMAL\"\n                },\n            ]\n        }\n    }\n    debug(device, \"txTime\", `${device.identity.deviceName} (${device.controller.protocol}) : TX time = ${Date.now() - device.transmitTime} ms`);\n    return downlinkJson;\n}\n//////////////////////////////////////////////////////////////////////////\n// The Things Stack Network Server \n/////////////////////////////////////////////////////////////////////////\nif (device.lorawan.networkServer == \"helium\") {\n    downlinkJson = {\n        \"topic\": device.mqtt.topicDownlink,\n        \"payload\": {\n            \"payload_raw\": \"SGVsbG8sIHdvcmxkIQ==\",\n            \"port\": device.lorawan.downlinkPort,\n            \"confirmed\": false\n        }\n    }\n    debug(device, \"txTime\", `${device.identity.deviceName} (${device.controller.protocol}) : TX time = ${Date.now() - device.transmitTime} ms`);\n    return downlinkJson;\n}\n//////////////////////////////////////////////////////////////////////////\n// Chipstack Network Server \n/////////////////////////////////////////////////////////////////////////\n// 1. Flush the downlink Queue\n\nif (device.lorawan.networkServer == \"chirpstack\") {\n    if (device.lorawan.flushDownlinkQueue == true) {\n\n        //We include flow value from libraries\n        var grpc = flow.get('grpc');\n        var device_grpc = flow.get('device_grpc');\n        var device_pb = flow.get('device_pb');\n\n        // This must point to the ChirpStack API interface.\n        const server = \"chirpstack.univ-lorawan.fr:9090\";\n        // The DevEUI for which we want to enqueue the downlink.\n        const devEui = device.identity.devEUI;\n        \n        // The API token (can be obtained through the ChirpStack web-interface).\n        const apiToken = device.lorawan.chirpstack.grpcApikey;\n\n        // Create the client for the DeviceService.\n        const deviceService = new device_grpc.DeviceServiceClient(\n            server,\n            grpc.credentials.createInsecure(),\n        );\n\n        // Create the Metadata object.\n        const metadata = new grpc.Metadata();\n        metadata.set(\"authorization\", \"Bearer \" + apiToken);\n\n        //Flush downlink queue request\n        const flushReq = new device_pb.FlushDeviceQueueRequest();\n        flushReq.setDevEui(devEui);\n\n        //Send the request\n        deviceService.flushQueue(flushReq, metadata, (err, resp) => {\n            if (err !== null) {\n                //node.error(`Can't flush ChirpStack downlink queue :  ${err}`);\n            }\n        });\n    }\n\n    // 2. Prepare downlink JSON\n    downlinkJson = {\n        \"topic\": device.mqtt.topicDownlink,\n        \"payload\": {\n            \"devEui\": device.identity.devEUI,\n            \"confirmed\": false,\n            \"fPort\": device.lorawan.downlinkPort,\n            \"object\": msg.payload\n        }\n    }\n    debug(device, \"txTime\", `${device.identity.deviceName} (${device.controller.protocol}) : TX time = ${Date.now() - device.transmitTime} ms`); \n    return downlinkJson;\n}\n\n\n//////////////////////////////////////////////////////////////////////////\n// Actility Network Server \n/////////////////////////////////////////////////////////////////////////\nif (device.lorawan.networkServer == \"actility\") {\n    downlinkJson = {\n        \"topic\": device.mqtt.topicDownlink,\n        \"payload\": {\n            \"DevEUI_downlink\": {\n                \"DevEUI\": device.identity.devEUI,\n                \"FPort\": device.lorawan.downlinkPort,\n                \"payload\": msg.payload,\n                \"FlushDownlinkQueue\": String(+device.lorawan.flushDownlinkQueue),\n                \"DriverCfg\": {\n                    \"app\": {\n                        \"pId\": device.lorawan.actility.driver.pId,\n                        \"mId\": device.lorawan.actility.driver.mId,\n                        \"ver\": device.lorawan.actility.driver.ver\n                    }\n                }\n            }\n        }\n    }\n    debug(device, \"txTime\", `${device.identity.deviceName} (${device.controller.protocol}) : TX time = ${Date.now() - device.transmitTime} ms`);\n    return downlinkJson;\n}\n\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "GrpcJs",
                "module": "@grpc/grpc-js"
            }
        ],
        "x": 270,
        "y": 500,
        "wires": [
            [
                "e1384418b4e5f5e8"
            ]
        ],
        "icon": "node-red/bridge-dash.svg"
    },
    {
        "id": "7d6fa0e6c07b0c3e",
        "type": "function",
        "z": "d93fd1516340f4b8",
        "g": "ea1addd1c6fe7797",
        "name": "Update previousValues",
        "func": "let previousValues = flow.get(\"g_previousValues\");\nlet deviceName = msg.device.identity.deviceName;\nlet previousBacnetObject = previousValues[deviceName].bacnet.objects;\n\nfor (let object in msg.payload) {\n    previousBacnetObject[object].value =  msg.payload[object] ;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 460,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-history"
    },
    {
        "id": "174d4dec295d31de",
        "type": "function",
        "z": "d93fd1516340f4b8",
        "g": "6983e6814d824ffd",
        "name": "WRITE uplink objects",
        "func": "let client = new nodeBacnet();\nlet device = msg.device;\nlet debug = flow.get(\"g_debug\");\nlet temp;\n\n// If the device controller protocol is not \"bacnet\" there is no need to be here \nif(device.controller.protocol != \"bacnet\") return null;\n\nlet bacnetObject = device.bacnet.objects;\n\nfor (let object in bacnetObject) {\n  if (bacnetObject[object].dataDirection === \"uplink\") {\n    //  Read of the uplink bacnet objects\n    client.writeProperty(device.controller.ipAddress, {type: bacnetObject[object].objectType, instance: bacnetObject[object].instanceNum}, 85, [{type: ((bacnetObject[object].objectType == 2) ? 4 : 0), value: bacnetObject[object].value}], (err, value) => {\n      if(err){\n          msg.payload = err;\n          node.status({fill:\"red\",shape:\"dot\",text:\"BACnet \"+ err});\n          node.error(\"Error writing bacnet objects\", {\n            errorType: \"nativeBACnet\",\n            error: err,\n            \n          });\n          return null;\n        } else {\n          msg.payload = value;\n          debug(device, \"up\",`${device.identity.deviceName} (${device.controller.protocol}) : Write Uplink Objects`)\n          node.status({fill:\"green\",shape:\"dot\",text:\"Native BACnet\"});\n        }\n    });\n\n  }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "nodeBacnet",
                "module": "node-bacnet"
            }
        ],
        "x": 866,
        "y": 260,
        "wires": [
            [
                "6c5d95aedce3b9a5"
            ]
        ]
    },
    {
        "id": "6c5d95aedce3b9a5",
        "type": "function",
        "z": "d93fd1516340f4b8",
        "g": "663469021e59323e",
        "name": "READ downlink objects",
        "func": "let client = new nodeBacnet();\nlet device = msg.device;\nlet bacnetObject = device.bacnet.objects;\nlet debug = flow.get(\"g_debug\");\nlet requestArray = [];\n\nif (device.controller.protocol != \"bacnet\") return null;\n\n// Build the request array\nfor (let object in bacnetObject) {\n  if (bacnetObject[object].dataDirection === \"downlink\") {\n    let temp = JSON.parse('{\"objectId\": { \"type\":' + bacnetObject[object].objectType + ', \"instance\":' + bacnetObject[object].instanceNum + '},\"properties\": [ {\"id\": 85} ] }');\n    requestArray.push(temp);\n  }\n}\n\n// Use a Promise to manage the asynchronous function\nreturn new Promise((resolve, reject) => {\n  client.readPropertyMultiple(device.controller.ipAddress, requestArray, (err, value) => {\n    if (err) {\n      node.error(err);\n      node.status({ fill: \"red\", shape: \"dot\", text: \"BACnet \" + err });\n      reject(err); // reject the promise in case of error\n    } else if (value) {\n      msg.payload = value;\n      debug(device, \"down\", `${device.identity.deviceName} (${device.controller.protocol}) : Read downlink Objects`);\n      node.status({ fill: \"green\", shape: \"dot\", text: \"Native BACnet\" });\n      resolve(msg); // resolve the promise with the node message\n    }\n  });\n}).then((msg) => {\n  // once the promise has been resolved\n  let values = msg.payload.values || [];\n  // store the values in the device objects value property\n  for (let i = 0; i < values.length; i++) {\n    Object.values(bacnetObject).forEach(obj => {\n      if (values[i].objectId.type == obj.objectType && values[i].objectId.instance == obj.instanceNum) {\n        obj.value = values[i].values[0].value[0].value;\n      }\n    });\n  }\n  return {\n    \"device\":device\n  };\n}).catch((err) => {\n  node.status({ fill: \"red\", shape: \"dot\", text: err });\n  node.error(\"Error reading bacnet objects\", {\n    errorType: \"nativeBACnet\",\n    error: err,\n\n  });\n  return null;\n});",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "nodeBacnet",
                "module": "node-bacnet"
            }
        ],
        "x": 1270,
        "y": 260,
        "wires": [
            [
                "6d8918d40586b5c5"
            ]
        ]
    },
    {
        "id": "b1a6c2451ff2e2a9",
        "type": "inject",
        "z": "d93fd1516340f4b8",
        "g": "5ccccbf592923070",
        "name": "5 seconds timer",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 85,
        "y": 700,
        "wires": [
            [
                "7d373895caf280eb"
            ]
        ],
        "icon": "node-red/timer.svg",
        "l": false
    },
    {
        "id": "7d373895caf280eb",
        "type": "function",
        "z": "d93fd1516340f4b8",
        "g": "5ccccbf592923070",
        "name": "READ Downlink Objects",
        "func": "let devices = RED.util.cloneMessage(flow.get(\"g_previousValues\"));\nlet client = new nodeBacnet()\nconst debug = flow.get('g_debug');\n\n// No action will be taken if the application doesn't know any devices\nif (devices === undefined){\n    return null ;\n}\n\nfor (let device in devices) {\n    if (devices[device].lorawan[\"class\"]?.toLowerCase() === \"c\"){  \n        let bacnetObjects = devices[device].bacnet.objects;\n        \n\n        switch (devices[device].controller.protocol) {\n            case \"bacnet\":\n                let requestArray = [];\n                let downlinkobject = {};\n                downlinkobject[\"result\"] = [];\n                // Build the request array\n                for (let object in bacnetObjects) {\n                  if (bacnetObjects[object].dataDirection === \"downlink\" && (bacnetObjects[object].downlinkStrategie === \"onChangeOfValue\" || bacnetObjects[object].downlinkStrategie === \"onChangeOfValueWithinRange\")) {\n                    let temp = JSON.parse('{\"objectId\": { \"type\":' + bacnetObjects[object].objectType + ', \"instance\":' + bacnetObjects[object].instanceNum + '},\"properties\": [ {\"id\": 85} ] }');\n                    requestArray.push(temp);\n                  }\n                }\n\n                // Use a Promise to manage the asynchronous function\n                return new Promise((resolve, reject) => {\n                  client.readPropertyMultiple('192.168.1.108', requestArray, (err, value) => {\n                    if (err) {\n                      node.error(err);\n                      node.status({ fill: \"red\", shape: \"dot\", text: \"BACnet \" + err });\n                      reject(err); // reject the promise in case of error\n                    } else if (value) {\n                      msg.payload = value;\n                      node.status({ fill: \"green\", shape: \"ring\", text: \"Native BACnet\" });\n                      resolve(msg); // resolve the promise with the node message\n                    }\n                  });\n                }).then((msg) => {\n                  // once the promise has been resolved\n                  let values = msg.payload.values || [];\n                  // store the values in the device objects value property\n                  for (let i = 0; i < values.length; i++) {\n                    downlinkobject.result[i][\"objectType\"] =  values[i].objectId.type;\n                    downlinkobject.result[i][\"instanceNum\"] =  values[i].objectId.instance;\n                    downlinkobject.result[i][\"value\"] =  values[i].values[0].value[0].value;\n\n                  }\n                  msg = {\n                    \"request\":{\n                                \"downlinkobject\" : downlinkobject,\n                                \"deviceName\": device,\n                                \"device\" : devices[device]\n                            }\n                  };\n                node.send(msg);\n                }).catch((err) => {\n                  node.status({ fill: \"red\", shape: \"dot\", text: err });\n                  node.error(\"Error reading bacnet objects\", {\n                    errorType: \"nativeBACnet\",\n                    error: err,\n                \n                  });\n                  return null;\n                });\n                break;\n            case \"restAPIBacnet\":\n                node.status({ fill: \"green\", shape: \"ring\", text: \"RestAPI BACnet\" });\n                switch (devices[device].controller.model){ \n                    ///////////////////////////////////////////////////////////\n                    ////// Distech Controls Eclypse APEX\n                    ////// https://www.postman.com/distech/distech-ecy-v2-public/request/rsns661/read-property-multiple\n                    ///////////////////////////////////////////////////////////\n                    case \"distechControlsV2\":\n                        /********** HTTP Request Read Multiple Properties \n                        {\n                            \"method\": \"POST\",\n                            \"url\": url,\n                            \"headers\": {Authorization: flow.get('$parent.g_httpAuthentication'),\n                                          ContentType: \"application/json\"}\n                            \"payload\": {\n                                \"encode\": \"text\",\n                                \"property-references\": [\n                                    {\n                                      \"type\": \"analogValue\",\n                                      \"instance\": 1,\n                                      \"property\": \"presentValue\"\n                                    },\n                                    {\n                                      \"type\": \"analogValue\",\n                                      \"instance\": 4,\n                                      \"property\": \"presentValue\"\n                                    },\n                                    ...\n                                ]\n                            },\n                            \"requestTimeout\" : xxx (ms)\n                        }\n                        */\n        \n                        let property_references = [];\n        \n                       // debug(devices[device], \"down\", `${device} (RestAPI) : Read Downlink Objects for class C`);\n                        for (let object in bacnetObjects) {\n                            // Only the object with the \"onChangeOfValue\" or the \"onChangeOfValueWithinRange\" downlink strategie are fetched\n                          if (bacnetObjects[object].dataDirection === \"downlink\" && (bacnetObjects[object].downlinkStrategie === \"onChangeOfValue\" || bacnetObjects[object].downlinkStrategie === \"onChangeOfValueWithinRange\")) {\n                                let temp = '{ \"type\": \"' + bacnetObjects[object].objectType + '\", \"instance\": ' + bacnetObjects[object].instanceNum + ', \"property\": \"presentValue\" }';\n                                property_references.push(JSON.parse(temp));\n                            }\n                        }\n        \n        \n                        // Return HTTP Request\n                        node.send({\n                            \"request\":{\n                                \"method\": \"POST\",\n                                \"url\": \"https://\" + devices[device].controller.ipAddress + \"/api/rest/v2/services/bacnet/local/objects/read-property-multiple\",\n                                \"headers\": {\n                                    Authorization: devices[device].controller.httpAuthentication,\n                                    ContentType: \"application/json\"\n                                },\n                                \"payload\": {\n                                    \"encode\": \"text\",\n                                    \"property-references\": property_references\n                                },\n                                \"requestTimeout\": flow.get('g_httpRequestTimeOut'),\n                                \"deviceName\": device,\n                                \"device\" : devices[device]\n                            }\n                        });\n        \n        \n                    ///////////////////////////////////////////////////////////\n                    ////// XXXXX Controller\n                    ////// URL to the API documentation\n                    ///////////////////////////////////////////////////////////\n                    case \"anotherController\":\n\n                        break;\n                    default:\n\n                }\n                break;\n            default:\n                        \n        }\n\n\n    }\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "nodeBacnet",
                "module": "node-bacnet"
            }
        ],
        "x": 244.28571428571422,
        "y": 700,
        "wires": [
            [
                "2e0098297782aecf"
            ]
        ]
    },
    {
        "id": "065fbab4302f36be",
        "type": "http request",
        "z": "d93fd1516340f4b8",
        "g": "5ccccbf592923070",
        "name": "HTTP REQUEST",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "38c4db63982e52db",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 821.4285714285716,
        "y": 660,
        "wires": [
            [
                "cc5bdb1677b5c74b"
            ]
        ]
    },
    {
        "id": "89efec6c18e8f42a",
        "type": "function",
        "z": "d93fd1516340f4b8",
        "g": "5ccccbf592923070",
        "name": "prepare the downlink",
        "func": "/////////////////////////////////////////////////////////////////////\n/////////////////  Store Downlink Objects              //////////////\n/////////////////////////////////////////////////////////////////////\n/* This function stores the downlink data from the controller */\nconst previousValues = RED.util.cloneMessage(flow.get(\"g_previousValues\"));\nconst deviceName = msg.deviceName;\nconst device = previousValues[deviceName];\nif (device.lorawan.hasOwnProperty(\"defaultValuesForDownlink\")) {var staticDownlinkObjects = device.lorawan.defaultValuesForDownlink}\nlet bacnetObjects = RED.util.cloneMessage(previousValues[deviceName].bacnet.objects);\nconst debug = flow.get('g_debug');\nlet downlinkLowPriorityObject = 0;\nlet payload={};\n\nfunction downlinkPayloadCreation(downlinkObjectToSend) {\n    //Creation of the downlink payload\n    for (let obj in bacnetObjects) {\n        if (bacnetObjects[obj].dataDirection === \"downlink\" && bacnetObjects[obj].downlinkPort == bacnetObjects[downlinkObjectToSend].downlinkPort) {\n            let temp = \"{ \\\"\" + obj + \"\\\" : \" + JSON.stringify(bacnetObjects[obj].value) + \" }\";\n            payload = { ...payload, ...JSON.parse(temp) }\n        }\n    }\n    // Chek if there are other values to add to the payload\n    if (device.lorawan.hasOwnProperty(\"defaultValuesForDownlink\")) {\n        if (device.lorawan.defaultValuesForDownlink.hasOwnProperty(\"fPort_\" + bacnetObjects[downlinkObjectToSend].downlinkPort)) {\n            for (let obj in staticDownlinkObjects[\"fPort_\" + bacnetObjects[downlinkObjectToSend].downlinkPort]) {\n                let temp = \"{ \\\"\" + obj + \"\\\" : \" + JSON.stringify(staticDownlinkObjects[\"fPort_\" + bacnetObjects[downlinkObjectToSend].downlinkPort][obj]) + \" }\";\n                payload = { ...payload, ...JSON.parse(temp) }\n\n            }\n        }\n    }\n    msg = {\n        \"payload\": payload,\n        \"device\": device\n    }\n    msg.device.lorawan.downlinkPort = bacnetObjects[downlinkObjectToSend].downlinkPort\n\n}\n\nswitch (previousValues[deviceName].controller.model) {\n    case \"distechControlsV2\":\n        let donwlinkObjects = msg.payload;\n\n        for (let i = 0; i < donwlinkObjects.results.length; i++) {\n            Object.values(bacnetObjects).forEach(obj => {\n                if (donwlinkObjects.results[i].type == obj.objectType && donwlinkObjects.results[i].instance == obj.instanceNum) {\n                    if (obj.objectType == \"analogValue\") obj.value = Number(donwlinkObjects.results[i].value);\n                    if (obj.objectType == \"binaryValue\") obj.value = donwlinkObjects.results[i].value;\n                }\n            });\n        }\n    ///////////////////////////////////////////////////////////\n    ////// XXXXX Controller\n    ////// URL to the API documentation\n    ///////////////////////////////////////////////////////////\n    case \"anotherController\":\n\n}\n///////////////////////////////////////////////////////////\n///////  This part check if a downlink is needed  /////////\n///////////////////////////////////////////////////////////\nfor (let object in bacnetObjects) {\n  if (bacnetObjects[object].dataDirection === \"downlink\" && (bacnetObjects[object].downlinkStrategie === \"onChangeOfThisValue\" || bacnetObjects[object].downlinkStrategie === \"onChangeOfThisValueWithinRange\")) {\n\n      switch (bacnetObjects[object].downlinkPortPriority) {\n          case \"high\":\n            switch (bacnetObjects[object].downlinkStrategie) {\n                case \"onChangeOfThisValue\":\n                    if (bacnetObjects[object].value != previousValues[deviceName].bacnet.objects[object].value) {\n                    node.status({ fill: \"yellow\", shape: \"dot\", text: \"Downlink\" });\n                    debug(device, \"down\", `${deviceName} (${previousValues[deviceName].controller.protocol}) : Downlink scheduled : Previous value ${previousValues[deviceName].bacnet.objects[object].value}  != ${object} ${bacnetObjects[object].value}`);\n                    //Creation of the dowlink payload\n                    downlinkPayloadCreation(object)\n                    return msg\n                    }     \n                    break;\n                case \"onChangeOfThisValueWithinRange\":\n                    if (bacnetObjects[object].value != previousValues[deviceName].bacnet.objects[object].value && bacnetObjects[object].value <= bacnetObjects[object].range[1] && bacnetObjects[object].value >= bacnetObjects[object].range[0]) {\n                    node.status({ fill: \"yellow\", shape: \"dot\", text: \"Downlink\" });\n                    debug(device, \"down\", `${deviceName} (${previousValues[deviceName].controller.protocol}) : Downlink scheduled : Previous value ${previousValues[deviceName].bacnet.objects[object].value}  != ${object} ${bacnetObjects[object].value}`);\n                    //Creation of the dowlink payload\n                    downlinkPayloadCreation(object)\n                    return msg\n                    }    \n                    break;\n                default:\n                    \n            }\n              \n              break;\n          case \"low\":\n              //In case of low priority downlink the object name is kept till the end of the for loop \n              // to be sure that there is not any high priority downlink to send \n              switch (bacnetObjects[object].downlinkStrategie) {\n                case \"onChangeOfThisValue\":\n                    if (bacnetObjects[object].value != previousValues[deviceName].bacnet.objects[object].value) {\n                        downlinkLowPriorityObject = object;\n                    }\n                    break;\n                case \"onChangeOfThisValueWithinRange\":\n                    if (bacnetObjects[object].value != previousValues[deviceName].bacnet.objects[object].value && bacnetObjects[object].value <= bacnetObjects[object].range[1] && bacnetObjects[object].value >= bacnetObjects[object].range[0]) {\n                        downlinkLowPriorityObject = object;\n                    }\n                    break;\n                default:\n                    \n              }\n              break;\n          default:\n\n      }\n  }\n}\nif (downlinkLowPriorityObject != 0) {\n    node.status({ fill: \"yellow\", shape: \"dot\", text: \"Downlink\" });\n    debug(device, \"down\", `${deviceName} (${previousValues[deviceName].controller.protocol}) : Downlink scheduled : Previous value ${previousValues[deviceName].bacnet.objects[downlinkLowPriorityObject].value}  != ${downlinkLowPriorityObject} ${bacnetObjects[downlinkLowPriorityObject].value}`);     \n  \n    //Creation of the dowlink payload\n    downlinkPayloadCreation(downlinkLowPriorityObject)\n    return msg            \n}else{\n\n  node.status({fill: \"green\", shape: \"dot\" ,text: \"No downlink\"});\n  return null;\n}\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1045.7142857142858,
        "y": 700,
        "wires": [
            [
                "194c25fca9ead806"
            ]
        ]
    },
    {
        "id": "2758c858a2ed5451",
        "type": "queue",
        "z": "d93fd1516340f4b8",
        "g": "5ccccbf592923070",
        "name": "",
        "input": "request",
        "inputType": "msg",
        "addFields": "\"\"",
        "addFieldsType": "json",
        "pourType": "initial",
        "pourTypeType": "pourType",
        "pourTime": "1",
        "pourTimeType": "num",
        "pourAmount": "1",
        "pourAmountType": "num",
        "maxUseMemory": "",
        "x": 472.85714285714283,
        "y": 700,
        "wires": [
            [
                "bc96164572da1cbc"
            ]
        ]
    },
    {
        "id": "c9ac0bf945b2fa3b",
        "type": "link out",
        "z": "d93fd1516340f4b8",
        "g": "663469021e59323e",
        "name": "MQTT send downlink",
        "mode": "link",
        "links": [
            "c34a9f563828e915"
        ],
        "x": 1920,
        "y": 180,
        "wires": [],
        "l": true
    },
    {
        "id": "c34a9f563828e915",
        "type": "link in",
        "z": "d93fd1516340f4b8",
        "g": "ea1addd1c6fe7797",
        "name": "MQTT downlink In",
        "links": [
            "c9ac0bf945b2fa3b",
            "194c25fca9ead806"
        ],
        "x": 65,
        "y": 480,
        "wires": [
            [
                "b3327bd6426be00f"
            ]
        ]
    },
    {
        "id": "194c25fca9ead806",
        "type": "link out",
        "z": "d93fd1516340f4b8",
        "g": "5ccccbf592923070",
        "name": "MQTT send downlink",
        "mode": "link",
        "links": [
            "c34a9f563828e915"
        ],
        "x": 1280,
        "y": 700,
        "wires": [],
        "l": true
    },
    {
        "id": "bc96164572da1cbc",
        "type": "function",
        "z": "d93fd1516340f4b8",
        "g": "5ccccbf592923070",
        "name": "way selector",
        "func": "switch (msg.request[0].device.controller.protocol) {\n    case \"bacnet\":\n        // Rebuild the message correctly\n        msg = {\n            \"downlinkobject\" : msg.request[0].downlinkobject,\n            \"deviceName\":msg.request[0].deviceName,\n            \"device\": msg.request[0].device\n            }\n        return [null,msg];\n        break;\n    case \"restAPIBacnet\":\n        // Rebuild the message correctly\n        msg = {\n            \"method\":msg.request[0].method,\n            \"url\":msg.request[0].url,\n            \"headers\":msg.request[0].headers,\n            \"payload\":msg.request[0].payload,\n            \"requestTimeout\":msg.request[0].requestTimeout,\n            \"deviceName\":msg.request[0].deviceName,\n            \"device\": msg.request[0].device\n            }\n        return [msg,null];\n        break;\n    default:\n    node.status({fill:\"red\",shape:\"dot\",text:\"error unknown protocol\"});\n        \n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 627.1428571428572,
        "y": 700,
        "wires": [
            [
                "065fbab4302f36be"
            ],
            [
                "cc5bdb1677b5c74b"
            ]
        ],
        "outputLabels": [
            "RrstAPIBacnet",
            "bacnet"
        ],
        "icon": "node-red/switch.svg"
    },
    {
        "id": "862555172a81d0a4",
        "type": "debug",
        "z": "d93fd1516340f4b8",
        "g": "b945647942a25106",
        "name": "debug MQTT uplink",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 240,
        "wires": []
    },
    {
        "id": "04532f1d0e6c9baa",
        "type": "catch",
        "z": "d93fd1516340f4b8",
        "g": "4298ce30cd9ef04a",
        "name": "Error handler",
        "scope": null,
        "uncaught": false,
        "x": 120,
        "y": 1080,
        "wires": [
            [
                "65f2e081b17e66c7",
                "19ca20846eb2b5fc"
            ]
        ]
    },
    {
        "id": "65f2e081b17e66c7",
        "type": "switch",
        "z": "d93fd1516340f4b8",
        "g": "4298ce30cd9ef04a",
        "name": "error type selector",
        "property": "errorType",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "deviceListLoRaWANConfiguration",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "deviceListBACnetObjectConfiguration",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "deviceListBACnetObjectConfigurationMissingProperty",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "deviceListControllerConfiguration",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "deviceListBACnetConfiguration",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "deviceListOverlap",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "deviceName",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "nativeBACnet",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "deviceListOverlapManual",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 9,
        "x": 320.66666666666663,
        "y": 1080,
        "wires": [
            [
                "55608d9a28b0edcd"
            ],
            [
                "79c7dbd40846c144"
            ],
            [
                "f289e0a64f6518f9"
            ],
            [
                "1e24ea01df25cdcd"
            ],
            [
                "bf4ec5cebccef09e"
            ],
            [
                "4dd8577f414c8efe"
            ],
            [
                "9e7cc7ca6d39c823"
            ],
            [
                "330d9ca5748cab45"
            ],
            [
                "74b093ac12aa2bed"
            ]
        ],
        "outputLabels": [
            "LoRaWAN Config error",
            "BACnetObject Config  error",
            "BACnetObject Config missing property error",
            "Controller Config  error",
            "BACnet Config  error",
            "Overlap Config  error",
            "device name error",
            "native BACnet error",
            null
        ]
    },
    {
        "id": "6a6aa62f1b1beb02",
        "type": "debug",
        "z": "d93fd1516340f4b8",
        "g": "4298ce30cd9ef04a",
        "name": "deviceList LoRaWAN Configuration Error",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 880,
        "wires": []
    },
    {
        "id": "55608d9a28b0edcd",
        "type": "template",
        "z": "d93fd1516340f4b8",
        "g": "4298ce30cd9ef04a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<===============================================================================>\n<=================================   ERROR   ===================================>\n<===============================================================================>\n{{error.message}}\n\nPlease only use the supported network server: 'chirpstack', 'tts' or 'Actility'.\n\nFor more information see the documentation on Github.\nhttps://github.com/SylvainMontagny/LoRaBAC\n\nDevice concerned: {{device}}\nproperty concerned: lorawan.{{property}}\n<===============================================================================>",
        "output": "str",
        "x": 494.33333333333326,
        "y": 880,
        "wires": [
            [
                "6a6aa62f1b1beb02"
            ]
        ],
        "icon": "node-red/comment.svg",
        "l": false
    },
    {
        "id": "f289e0a64f6518f9",
        "type": "template",
        "z": "d93fd1516340f4b8",
        "g": "4298ce30cd9ef04a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<===============================================================================>\n<=================================   ERROR   ===================================>\n<===============================================================================>\n{{error.message}}\n\nPlease be sure to have all the necessary property for each Bacnet objects:\n\n----------------------------------------------------\n| Property              | Uplink         | Downlink |\n----------------------------------------------------\n| lorawanPayloadName    | required       | required |\n| objectType            | required       | required |\n| assignementMode       | required       | required |\n| instanceNum           | required       | required |\n| dataDirection         | required       | required |\n| value                 | required       | required |\n| downlinkPort          | not required   | required |\n| downlinkPortPriority  | not required   | required |\n| downlinkStrategie     | not required   | required |\n| uplinkToCompareWith   | not required   | required |\n----------------------------------------------------\n\nFor more information see the documentation on Github.\nhttps://github.com/SylvainMontagny/LoRaBAC\n\nDevice concerned: {{device}}\nMissing property: {{property}}\n<===============================================================================>",
        "output": "str",
        "x": 494.33333333333326,
        "y": 1040,
        "wires": [
            [
                "0b01cbfdacfb6dbd"
            ]
        ],
        "icon": "node-red/comment.svg",
        "l": false
    },
    {
        "id": "1e24ea01df25cdcd",
        "type": "template",
        "z": "d93fd1516340f4b8",
        "g": "4298ce30cd9ef04a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<===============================================================================>\n<=================================   ERROR   ===================================>\n<===============================================================================>\n{{error.message}}\n\nPlease only use the supported protocols: 'restAPIbacnet' or 'bacnet'.\n\nFor more information see the documentation on Github.\nhttps://github.com/SylvainMontagny/LoRaBAC\n\nDevice concerned: {{device}}\nProperty concerned: controller.{{property}}\nActual value: {{value}}\n<===============================================================================>",
        "output": "str",
        "x": 494.33333333333326,
        "y": 1080,
        "wires": [
            [
                "30b96c28f6b24733"
            ]
        ],
        "icon": "node-red/comment.svg",
        "l": false
    },
    {
        "id": "bf4ec5cebccef09e",
        "type": "template",
        "z": "d93fd1516340f4b8",
        "g": "4298ce30cd9ef04a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<===============================================================================>\n<=================================   ERROR   ===================================>\n<===============================================================================>\n{{error.message}}\n\nPlease do not use more Bacnet object than the instance range number or increase it.\n\nFor more information see the documentation on Github.\nhttps://github.com/SylvainMontagny/LoRaBAC\n\nDevice concerned: {{device}}\nProperty concerned: bacnet.{{property}}\nActual value: {{value}}\n<===============================================================================>",
        "output": "str",
        "x": 494.33333333333326,
        "y": 1120,
        "wires": [
            [
                "f113a92a4c820b68"
            ]
        ],
        "icon": "node-red/comment.svg",
        "l": false
    },
    {
        "id": "4dd8577f414c8efe",
        "type": "template",
        "z": "d93fd1516340f4b8",
        "g": "4298ce30cd9ef04a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<===============================================================================>\n<=================================   ERROR   ===================================>\n<===============================================================================>\n{{error.message}}\n\nPlease be sure to set the offset, maxDeviceNum and instance range correctly.\n\nFor more information see the documentation on Github.\nhttps://github.com/SylvainMontagny/LoRaBAC\n\nFirst device concerned: {{device1}}\nSecond device concerned: {{device2}}\n<===============================================================================>",
        "output": "str",
        "x": 494.33333333333326,
        "y": 1160,
        "wires": [
            [
                "addb8372fe1157dc"
            ]
        ],
        "icon": "node-red/comment.svg",
        "l": false
    },
    {
        "id": "0b01cbfdacfb6dbd",
        "type": "debug",
        "z": "d93fd1516340f4b8",
        "g": "4298ce30cd9ef04a",
        "name": "deviceList BACnet Objects Configuration Missing Property Error",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 1040,
        "wires": []
    },
    {
        "id": "30b96c28f6b24733",
        "type": "debug",
        "z": "d93fd1516340f4b8",
        "g": "4298ce30cd9ef04a",
        "name": "deviceList Controller Configuration Error",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 1080,
        "wires": []
    },
    {
        "id": "f113a92a4c820b68",
        "type": "debug",
        "z": "d93fd1516340f4b8",
        "g": "4298ce30cd9ef04a",
        "name": "deviceList BACnet Configuration Error",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 1120,
        "wires": []
    },
    {
        "id": "addb8372fe1157dc",
        "type": "debug",
        "z": "d93fd1516340f4b8",
        "g": "4298ce30cd9ef04a",
        "name": "deviceList Overlap Configuration Error",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 1160,
        "wires": []
    },
    {
        "id": "9bf006cec1fcb884",
        "type": "template",
        "z": "d93fd1516340f4b8",
        "g": "4298ce30cd9ef04a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<===============================================================================>\n<=================================   ERROR   ===================================>\n<===============================================================================>\n{{error.message}}\n\nPlease be sure that the range of the \"onChangeOfValueWithinRange\" downlink strategie is a two value array:\n\n\"range\":[a,b] \nwith a < b\n\nFor more information see the documentation on Github.\nhttps://github.com/SylvainMontagny/LoRaBAC\n\nDevice concerned: **{{device}}**\nObject concerned: **{{object}}**\nProperty concerned: **{{property}}**\nActual value: **{{value}}**\n<===============================================================================>",
        "output": "str",
        "x": 565,
        "y": 900,
        "wires": [
            [
                "16438fab45e013b9"
            ]
        ],
        "icon": "node-red/comment.svg",
        "l": false
    },
    {
        "id": "9e7cc7ca6d39c823",
        "type": "template",
        "z": "d93fd1516340f4b8",
        "g": "4298ce30cd9ef04a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<===============================================================================>\n<=================================   ERROR   ===================================>\n<===============================================================================>\n{{error.message}}\n\nPlease be sure to set the device name correctly on the network server.\n\nFor more information see the documentation on Github.\nhttps://github.com/SylvainMontagny/LoRaBAC\n\nActual name of the device: {{value}}\n<===============================================================================>",
        "output": "str",
        "x": 494.33333333333326,
        "y": 1200,
        "wires": [
            [
                "1092a6b81312c06d"
            ]
        ],
        "icon": "node-red/comment.svg",
        "l": false
    },
    {
        "id": "1092a6b81312c06d",
        "type": "debug",
        "z": "d93fd1516340f4b8",
        "g": "4298ce30cd9ef04a",
        "name": "deviceName Error",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 1200,
        "wires": []
    },
    {
        "id": "330d9ca5748cab45",
        "type": "template",
        "z": "d93fd1516340f4b8",
        "g": "4298ce30cd9ef04a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<===============================================================================>\n<=================================   ERROR   ===================================>\n<===============================================================================>\n{{error.message}}\n\nPlease be sure that the bacnet objects exist on your controller.\n\nFor more information see the documentation on Github.\nhttps://github.com/SylvainMontagny/LoRaBAC\n\n{{_error}}\n<===============================================================================>",
        "output": "str",
        "x": 494.33333333333326,
        "y": 1240,
        "wires": [
            [
                "24d628589b366aeb"
            ]
        ],
        "icon": "node-red/comment.svg",
        "l": false
    },
    {
        "id": "24d628589b366aeb",
        "type": "debug",
        "z": "d93fd1516340f4b8",
        "g": "4298ce30cd9ef04a",
        "name": "nativeBAcnet Error",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 1240,
        "wires": []
    },
    {
        "id": "19ca20846eb2b5fc",
        "type": "debug",
        "z": "d93fd1516340f4b8",
        "g": "4298ce30cd9ef04a",
        "name": "debug error handler",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 320.66666666666663,
        "y": 980,
        "wires": []
    },
    {
        "id": "cd83711f22164892",
        "type": "debug",
        "z": "d93fd1516340f4b8",
        "g": "4298ce30cd9ef04a",
        "name": "deviceList BACnet Objects Configuration Error",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 960,
        "wires": []
    },
    {
        "id": "79c7dbd40846c144",
        "type": "switch",
        "z": "d93fd1516340f4b8",
        "g": "4298ce30cd9ef04a",
        "name": "",
        "property": "property",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "range",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "instanceNum",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "assignementMode",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "downlinkStrategie",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 494.33333333333326,
        "y": 960,
        "wires": [
            [
                "9bf006cec1fcb884"
            ],
            [
                "819bdc8057630315"
            ],
            [
                "2808379eb506d556"
            ],
            [
                "c2d0d9211069b5f8"
            ]
        ],
        "outputLabels": [
            "Range error",
            "InstanceNum error",
            "assignementMode error",
            null
        ],
        "l": false
    },
    {
        "id": "819bdc8057630315",
        "type": "template",
        "z": "d93fd1516340f4b8",
        "g": "4298ce30cd9ef04a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<===============================================================================>\n<=================================   ERROR   ===================================>\n<===============================================================================>\n{{error.message}}\n\nPlease be sure that the instanceNum of your BACnet objects is not superior or equal to the instance range.\n\nFor more information see the documentation on Github.\nhttps://github.com/SylvainMontagny/LoRaBAC\n\nDevice concerned: **{{device}}**\nObject concerned: **{{object}}**\nProperty concerned: **{{property}}**\nActual value: **{{value}}**\n<===============================================================================>",
        "output": "str",
        "x": 565,
        "y": 940,
        "wires": [
            [
                "16438fab45e013b9"
            ]
        ],
        "icon": "node-red/comment.svg",
        "l": false
    },
    {
        "id": "85238cc0628ebe3c",
        "type": "complete",
        "z": "d93fd1516340f4b8",
        "g": "5ccccbf592923070",
        "name": "Http request complete handler",
        "scope": [
            "065fbab4302f36be"
        ],
        "uncaught": false,
        "x": 190,
        "y": 760,
        "wires": [
            [
                "767ed3a36d3759d5"
            ]
        ],
        "icon": "font-awesome/fa-check"
    },
    {
        "id": "767ed3a36d3759d5",
        "type": "change",
        "z": "d93fd1516340f4b8",
        "g": "5ccccbf592923070",
        "name": "dequeue",
        "rules": [
            {
                "t": "set",
                "p": "dequeue",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 760,
        "wires": [
            [
                "2e0098297782aecf"
            ]
        ]
    },
    {
        "id": "18f4723e9398881a",
        "type": "subflow:e94c5d10a1a43f44",
        "z": "d93fd1516340f4b8",
        "g": "663469021e59323e",
        "name": "Rest API Read downlink/Write uplink",
        "env": [
            {
                "name": "dataDirection",
                "value": "downlink",
                "type": "str"
            }
        ],
        "x": 1290,
        "y": 120,
        "wires": [
            [
                "cd910e44159f4f03"
            ]
        ]
    },
    {
        "id": "18414ddfb55e3521",
        "type": "debug",
        "z": "d93fd1516340f4b8",
        "g": "663469021e59323e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1600,
        "y": 120,
        "wires": []
    },
    {
        "id": "74b093ac12aa2bed",
        "type": "template",
        "z": "d93fd1516340f4b8",
        "g": "4298ce30cd9ef04a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<===============================================================================>\n<=================================   ERROR   ===================================>\n<===============================================================================>\n{{error.message}}\n\nPlease be sure to set the offset, maxDeviceNum and instance range correctly to not overlap mannualy set objects.\n\nFor more information see the documentation on Github.\nhttps://github.com/SylvainMontagny/LoRaBAC\n\nDevice concerned: {{device}}\nInstance Number concerned: {{instanceNum}}\n<===============================================================================>",
        "output": "str",
        "x": 494.33333333333326,
        "y": 1280,
        "wires": [
            [
                "0cf4b5d52eb7b83b"
            ]
        ],
        "icon": "node-red/comment.svg",
        "l": false
    },
    {
        "id": "0cf4b5d52eb7b83b",
        "type": "debug",
        "z": "d93fd1516340f4b8",
        "g": "4298ce30cd9ef04a",
        "name": "deviceList Overlap Configuration Error",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 1280,
        "wires": []
    },
    {
        "id": "2808379eb506d556",
        "type": "template",
        "z": "d93fd1516340f4b8",
        "g": "4298ce30cd9ef04a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<===============================================================================>\n<=================================   ERROR   ===================================>\n<===============================================================================>\n{{error.message}}\n\nPlease be sure that the assignement mode of each object of a device type are the same.\n\nFor more information see the documentation on Github.\nhttps://github.com/SylvainMontagny/LoRaBAC\n\nDevice concerned: **{{device}}**\nObject concerned: **{{object}}**\nProperty concerned: **{{property}}**\nActual value: **{{value}}**\n<===============================================================================>",
        "output": "str",
        "x": 565,
        "y": 980,
        "wires": [
            [
                "16438fab45e013b9"
            ]
        ],
        "icon": "node-red/comment.svg",
        "l": false
    },
    {
        "id": "f8a5f441de842782",
        "type": "link in",
        "z": "d93fd1516340f4b8",
        "g": "b945647942a25106",
        "name": "Tests frame out",
        "links": [],
        "x": 195,
        "y": 220,
        "wires": [
            [
                "58ce7a9ee14e78bf"
            ]
        ]
    },
    {
        "id": "c2d0d9211069b5f8",
        "type": "template",
        "z": "d93fd1516340f4b8",
        "g": "4298ce30cd9ef04a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<===============================================================================>\n<=================================   ERROR   ===================================>\n<===============================================================================>\n{{error.message}}\n\nPlease be sure that the downlink strategie is one of th folowing:\n- compareToUplinkObject \n- compareToUplinkObjectWithinRange \n- onChangeOfThisValue\n- onChangeOfThisValueWithinRange\n\nFor more information see the documentation on Github.\nhttps://github.com/SylvainMontagny/LoRaBAC\n\nDevice concerned: **{{device}}**\nObject concerned: **{{object}}**\nProperty concerned: **{{property}}**\nActual value: **{{value}}**\n<===============================================================================>",
        "output": "str",
        "x": 565,
        "y": 1020,
        "wires": [
            [
                "16438fab45e013b9"
            ]
        ],
        "icon": "node-red/comment.svg",
        "l": false
    },
    {
        "id": "2163ab87f224cce8",
        "type": "LoRaBAC",
        "z": "d93fd1516340f4b8",
        "g": "b945647942a25106",
        "name": "LoRaBAC",
        "globalConfig": {
            "ipAddress": "",
            "networkServer": "tts",
            "grpcApiKey": "",
            "protocol": "bacnet",
            "model": "distechControlsV2",
            "bacnetLogin": "",
            "bacnetPassword": ""
        },
        "deviceCount": 1,
        "arrayDeviceList": [],
        "deviceList": {},
        "x": 360,
        "y": 180,
        "wires": [
            [
                "b1e5f763f720d5d4"
            ]
        ]
    },
    {
        "id": "f75024a426208b8a",
        "type": "mqtt-broker",
        "name": "Chirpstack-controller",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]